<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    1 <h2>本页面显示网页请求--来自浏览器</h2>
    2 <p>request.form : {{request.form}} </p>
    3 <p>request.args : {{request.args}} </p>
    4 <p>request.values : {{request.values}} </p>
    5 <p>request.cookies : {{request.cookies}} </p>
    6 <p>request.headers: {{request.headers}} </p>
    7 <p>request.files: {{request.files}} </p>
    8 <p>request.get_data(): {{request.get_data()}} </p>
    9 <p>request.get_json(): {{request.get_json()}} </p>
    10 <p>request.blueprint : {{request.blueprint}} </p>
    11 <p>request.endpoint : {{request.endpoint}} </p>
    12 <p>request.method : {{request.method}} </p>
    13 <p>request.scheme : {{request.scheme}} </p>
    14 <p>request.is_secure : {{request.is_secure}} </p>
    15 <p>request.host : {{request.host}} </p>
    16 <p>request.path : {{request.path}} </p>
    17 <p>request.query_string : {{request.query_string}} </p>
    18 <p>request.full_path : {{request.full_path}} </p>
    19 <p>request.url : {{request.url}} </p>
    20 <p>request.base_url : {{request.base_url}} </p>
    21 <p>request.remote_addr : {{request.remote_addr}} </p>
    22 <p>request.environ : {{request.environ}} </p>
</body>
</html>